img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.night {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: -webkit-linear-gradient(135deg, #5f91ff, rgba(0, 0, 255, 0));
    background: -o-linear-gradient(135deg, #5f91ff, rgba(0, 0, 255, 0));
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    -webkit-filter: drop-shadow(0 0 6px #699bff);
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: -webkit-linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    background: -o-linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotateZ(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    -ms-transform: translateX(50%) rotate(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(50% - 37px);
    left: calc(50% - 254px);
    -webkit-animation-delay: 8200ms;
    animation-delay: 8200ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 8200ms;
    animation-delay: 8200ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - -146px);
    left: calc(50% - 219px);
    -webkit-animation-delay: 449ms;
    animation-delay: 449ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 449ms;
    animation-delay: 449ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - -24px);
    left: calc(50% - 254px);
    -webkit-animation-delay: 4773ms;
    animation-delay: 4773ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after,
.shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 4773ms;
    animation-delay: 4773ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - -36px);
    left: calc(50% - 2px);
    -webkit-animation-delay: 4054ms;
    animation-delay: 4054ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after,
.shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 4054ms;
    animation-delay: 4054ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - 88px);
    left: calc(50% - 283px);
    -webkit-animation-delay: 2892ms;
    animation-delay: 2892ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after,
.shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 2892ms;
    animation-delay: 2892ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - 179px);
    left: calc(50% - 78px);
    -webkit-animation-delay: 2417ms;
    animation-delay: 2417ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after,
.shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 2417ms;
    animation-delay: 2417ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - 91px);
    left: calc(50% - 231px);
    -webkit-animation-delay: 4296ms;
    animation-delay: 4296ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after,
.shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 4296ms;
    animation-delay: 4296ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - -158px);
    left: calc(50% - 13px);
    -webkit-animation-delay: 6883ms;
    animation-delay: 6883ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after,
.shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 6883ms;
    animation-delay: 6883ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - 54px);
    left: calc(50% - 179px);
    -webkit-animation-delay: 7224ms;
    animation-delay: 7224ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after,
.shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 7224ms;
    animation-delay: 7224ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - 178px);
    left: calc(50% - 133px);
    -webkit-animation-delay: 3395ms;
    animation-delay: 3395ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after,
.shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 3395ms;
    animation-delay: 3395ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - 167px);
    left: calc(50% - 46px);
    -webkit-animation-delay: 5292ms;
    animation-delay: 5292ms;
}

.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after,
.shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 5292ms;
    animation-delay: 5292ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - 183px);
    left: calc(50% - 243px);
    -webkit-animation-delay: 2069ms;
    animation-delay: 2069ms;
}

.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after,
.shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 2069ms;
    animation-delay: 2069ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - -102px);
    left: calc(50% - 170px);
    -webkit-animation-delay: 6853ms;
    animation-delay: 6853ms;
}

.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after,
.shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 6853ms;
    animation-delay: 6853ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - 121px);
    left: calc(50% - 56px);
    -webkit-animation-delay: 4541ms;
    animation-delay: 4541ms;
}

.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after,
.shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 4541ms;
    animation-delay: 4541ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - -28px);
    left: calc(50% - 115px);
    -webkit-animation-delay: 5515ms;
    animation-delay: 5515ms;
}

.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after,
.shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 5515ms;
    animation-delay: 5515ms;
}

.shooting_star:nth-child(16) {
    top: calc(50% - -64px);
    left: calc(50% - 190px);
    -webkit-animation-delay: 5418ms;
    animation-delay: 5418ms;
}

.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after,
.shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 5418ms;
    animation-delay: 5418ms;
}

.shooting_star:nth-child(17) {
    top: calc(50% - 43px);
    left: calc(50% - 106px);
    -webkit-animation-delay: 9379ms;
    animation-delay: 9379ms;
}

.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after,
.shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 9379ms;
    animation-delay: 9379ms;
}

.shooting_star:nth-child(18) {
    top: calc(50% - 75px);
    left: calc(50% - 162px);
    -webkit-animation-delay: 8901ms;
    animation-delay: 8901ms;
}

.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after,
.shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 8901ms;
    animation-delay: 8901ms;
}

.shooting_star:nth-child(19) {
    top: calc(50% - -199px);
    left: calc(50% - 87px);
    -webkit-animation-delay: 8620ms;
    animation-delay: 8620ms;
}

.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after,
.shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 8620ms;
    animation-delay: 8620ms;
}

.shooting_star:nth-child(20) {
    top: calc(50% - 118px);
    left: calc(50% - 97px);
    -webkit-animation-delay: 3719ms;
    animation-delay: 3719ms;
}

.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after,
.shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 3719ms;
    animation-delay: 3719ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
}