img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
    width: 100%;
    height: 50%;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

.night {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: -webkit-linear-gradient(135deg, #5f91ff, rgba(0, 0, 255, 0));
    background: -o-linear-gradient(135deg, #5f91ff, rgba(0, 0, 255, 0));
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    -webkit-filter: drop-shadow(0 0 6px #699bff);
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: -webkit-linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    background: -o-linear-gradient(135deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotateZ(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    -ms-transform: translateX(50%) rotate(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(50% - 138px);
    left: calc(50% - 88px);
    -webkit-animation-delay: 1264ms;
    animation-delay: 1264ms;
}

.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 1264ms;
    animation-delay: 1264ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - -142px);
    left: calc(50% - 263px);
    -webkit-animation-delay: 9125ms;
    animation-delay: 9125ms;
}

.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 9125ms;
    animation-delay: 9125ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - -63px);
    left: calc(50% - 6px);
    -webkit-animation-delay: 5820ms;
    animation-delay: 5820ms;
}

.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after,
.shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 5820ms;
    animation-delay: 5820ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - -27px);
    left: calc(50% - 57px);
    -webkit-animation-delay: 3445ms;
    animation-delay: 3445ms;
}

.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after,
.shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 3445ms;
    animation-delay: 3445ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - -127px);
    left: calc(50% - 33px);
    -webkit-animation-delay: 8105ms;
    animation-delay: 8105ms;
}

.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after,
.shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 8105ms;
    animation-delay: 8105ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - 48px);
    left: calc(50% - 243px);
    -webkit-animation-delay: 8706ms;
    animation-delay: 8706ms;
}

.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after,
.shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 8706ms;
    animation-delay: 8706ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - -89px);
    left: calc(50% - 123px);
    -webkit-animation-delay: 5758ms;
    animation-delay: 5758ms;
}

.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after,
.shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 5758ms;
    animation-delay: 5758ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - 165px);
    left: calc(50% - 193px);
    -webkit-animation-delay: 839ms;
    animation-delay: 839ms;
}

.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after,
.shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 839ms;
    animation-delay: 839ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - 169px);
    left: calc(50% - 133px);
    -webkit-animation-delay: 1202ms;
    animation-delay: 1202ms;
}

.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after,
.shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 1202ms;
    animation-delay: 1202ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - -192px);
    left: calc(50% - 63px);
    -webkit-animation-delay: 4624ms;
    animation-delay: 4624ms;
}

.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after,
.shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 4624ms;
    animation-delay: 4624ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - -35px);
    left: calc(50% - 32px);
    -webkit-animation-delay: 8062ms;
    animation-delay: 8062ms;
}

.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after,
.shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 8062ms;
    animation-delay: 8062ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - -175px);
    left: calc(50% - 140px);
    -webkit-animation-delay: 2651ms;
    animation-delay: 2651ms;
}

.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after,
.shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 2651ms;
    animation-delay: 2651ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - 23px);
    left: calc(50% - 259px);
    -webkit-animation-delay: 6481ms;
    animation-delay: 6481ms;
}

.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after,
.shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 6481ms;
    animation-delay: 6481ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - 39px);
    left: calc(50% - 8px);
    -webkit-animation-delay: 9981ms;
    animation-delay: 9981ms;
}

.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after,
.shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 9981ms;
    animation-delay: 9981ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - -97px);
    left: calc(50% - 6px);
    -webkit-animation-delay: 6499ms;
    animation-delay: 6499ms;
}

.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after,
.shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 6499ms;
    animation-delay: 6499ms;
}

.shooting_star:nth-child(16) {
    top: calc(50% - 40px);
    left: calc(50% - 56px);
    -webkit-animation-delay: 1024ms;
    animation-delay: 1024ms;
}

.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after,
.shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 1024ms;
    animation-delay: 1024ms;
}

.shooting_star:nth-child(17) {
    top: calc(50% - 44px);
    left: calc(50% - 25px);
    -webkit-animation-delay: 8923ms;
    animation-delay: 8923ms;
}

.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after,
.shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 8923ms;
    animation-delay: 8923ms;
}

.shooting_star:nth-child(18) {
    top: calc(50% - -20px);
    left: calc(50% - 130px);
    -webkit-animation-delay: 8978ms;
    animation-delay: 8978ms;
}

.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after,
.shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 8978ms;
    animation-delay: 8978ms;
}

.shooting_star:nth-child(19) {
    top: calc(50% - -148px);
    left: calc(50% - 15px);
    -webkit-animation-delay: 7128ms;
    animation-delay: 7128ms;
}

.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after,
.shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 7128ms;
    animation-delay: 7128ms;
}

.shooting_star:nth-child(20) {
    top: calc(50% - 137px);
    left: calc(50% - 88px);
    -webkit-animation-delay: 9521ms;
    animation-delay: 9521ms;
}

.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after,
.shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 9521ms;
    animation-delay: 9521ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
}