audio,
canvas,
video {
  display: inline-block;
  pg-id: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
  pg-id: 2;
}
[hidden] {
  display: none;
  pg-id: 3;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  pg-id: 4;
}
body {
  margin: 0;
  pg-id: 5;
}
a:focus {
  outline: thin dotted;
  pg-id: 6;
}
a:active,
a:hover {
  outline: 0;
  pg-id: 7;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  pg-id: 8;
}
abbr[title] {
  border-bottom: 1px dotted;
  pg-id: 9;
}
b,
strong {
  font-weight: bold;
  pg-id: 10;
}
dfn {
  font-style: italic;
  pg-id: 11;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  pg-id: 12;
}
mark {
  background: #ff0;
  color: #000;
  pg-id: 13;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
  pg-id: 14;
}
pre {
  white-space: pre-wrap;
  pg-id: 15;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  pg-id: 16;
}
small {
  font-size: 80%;
  pg-id: 17;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  pg-id: 18;
}
sup {
  top: -0.5em;
  pg-id: 19;
}
sub {
  bottom: -0.25em;
  pg-id: 20;
}
img {
  border: 0;
  pg-id: 21;
}
svg:not(:root) {
  overflow: hidden;
  pg-id: 22;
}
figure {
  margin: 0;
  pg-id: 23;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  pg-id: 24;
}
legend {
  border: 0;
  padding: 0;
  pg-id: 25;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  pg-id: 26;
}
button,
input {
  line-height: normal;
  pg-id: 27;
}
button,
select {
  text-transform: none;
  pg-id: 28;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  pg-id: 29;
}
button[disabled],
html input[disabled] {
  cursor: default;
  pg-id: 30;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  pg-id: 31;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  pg-id: 32;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  pg-id: 33;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  pg-id: 34;
}
textarea {
  overflow: auto;
  vertical-align: top;
  pg-id: 35;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  pg-id: 36;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  color: #ba54f5;
  pg-id: 37;
}
/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  pg-id: 38;
}
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
  pg-id: 39;
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
a {
  text-decoration: none;
  color: #e14eca;
  outline: none;
  pg-id: 40;
}
a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
  pg-id: 41;
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
  pg-id: 42;
}
.message {
  position: relative;
  z-index: 100;
  display: none;
  padding: 1em;
  text-align: center;
  color: var(--color-bg);
  background: var(--color-text);
  pg-id: 43;
}
/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
  pg-id: 44;
}
.frame {
  position: fixed;
  z-index: 10000;
  top: 5rem;
  left: 0;
  width: 100%;
  max-width: none;
  min-height: 0;
  height: 100vh;
  padding: 1rem;
  pointer-events: none;
  pg-id: 45;
}
.frame a {
  pointer-events: auto;
  pg-id: 46;
}
/* Header */
.codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pg-id: 47;
}
.codrops-header__title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  pg-id: 48;
}
/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  pg-id: 49;
}
.github {
  display: block;
  padding: 0.25em;
  margin: 0 0.25rem;
  pg-id: 50;
}
.codrops-icon {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em 0 0 0;
  pg-id: 51;
}
.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
  height: calc(90vh);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 0.5%;
  grid-template-rows: 100%;
  grid-template-areas: '... slide ...';
  pg-id: 52;
}
.slide {
  width: 100%;
  display: flex;
  pointer-events: none;
  cursor: pointer;
  position: relative;
  height: 100%;
  grid-area: slide;
  pg-id: 53;
}
.slideshow--previewopen .slide {
  cursor: default;
  pg-id: 54;
}
.slide--current {
  pointer-events: auto;
  pg-id: 55;
}
.slide__img-wrap {
  width: 100%;
  overflow: hidden;
  z-index: 99px;
  height: 80%;
  top: 10%;
  position: absolute;
  pg-id: 56;
}
.slideshow__deco {
  grid-area: slide;
  width: 100%;
  height: 80%;
  align-self: center;
  position: relative;
  margin: -40px 0 0 0;
  right: -60px;
  background: rgba(20, 19, 19, 0.49);
  pg-id: 57;
}
.nav {
  position: absolute;
  background: none;
  width: 3rem;
  height: 3rem;
  z-index: 100;
  border: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transition: transform 0.8s, opacity 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  pg-id: 58;
}
.nav--next {
  bottom: 1rem;
  right: 1rem;
  pg-id: 59;
}
.icon--navarrow-next {
  transform: rotate(45deg);
  pg-id: 60;
}
.nav--prev {
  top: 1rem;
  left: 1rem;
  pg-id: 61;
}
.icon--navarrow-prev {
  transform: rotate(-135deg);
  pg-id: 62;
}
.slideshow--previewopen .nav {
  opacity: 0;
  transition-duration: 0.4s;
  pg-id: 63;
}
.slideshow--previewopen .nav--next {
  transform: translate3d(100%, 100%, 0);
  pg-id: 64;
}
.slideshow--previewopen .nav--prev {
  transform: translate3d(-100%, -100%, 0);
  pg-id: 65;
}
.slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  pointer-events: none;
  transform: scale3d(1.01, 1.01, 1);
  pg-id: 66;
}
.js .slide__img-wrap,
.js .slide__title-wrap,
.js .slide__side {
  opacity: 0;
  pointer-events: none;
  pg-id: 67;
}
.js .slide--current .slide__img-wrap {
  opacity: 1;
  pointer-events: auto;
  pg-id: 68;
}
.slide--visible .slide__img-wrap {
  pointer-events: auto;
  pg-id: 69;
}
.slide__title-wrap {
  justify-self: flex-end;
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: rgba(20, 18, 18, 0.52);
  padding: 10px;
  pg-id: 70;
}
.slide__number {
  display: block;
  font-size: 1.rem;
  font-weight: bold;
  color: #ffffff;
  pg-id: 71;
}
.slide__number::before {
  content: "\2014";
  display: inline-block;
  margin: 0 1rem 0 0;
  pg-id: 72;
}
.slide__title,
.slide__subtitle,
.slide__side {
  display: none;
  pg-id: 73;
}
.content {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  height: calc(90%);
  pointer-events: none;
  z-index: -2;
  pg-id: 74;
}
.content__item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10vh 5vw;
  overflow: overlay;
  scrollbar-width: none;
  border-radius: 50px 100px;
  pg-id: 75;
}
.content__item--current,
.content__item--current ~ .content__close {
  pointer-events: auto;
  pg-id: 76;
}
.content__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  color: currentColor;
  border: 0;
  margin: 0;
  padding: 0;
  pg-id: 77;
}
.icon--longarrow {
  width: 2rem;
  pg-id: 78;
}
.content__close:focus {
  outline: none;
  pg-id: 79;
}
.content__number {
  font-weight: bold;
  pg-id: 80;
}
.content__number::before {
  content: "\2014";
  display: inline-block;
  margin: 0 1rem 0 0;
  pg-id: 81;
}
.content__title {
  margin: 0.5rem 0;
  font-size: 2rem;
  text-indent: 20px;
  pg-id: 82;
}
.content__subtitle {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  text-indent: 20px;
  pg-id: 83;
}
.content__text {
  font-size: 0.85rem;
  pg-id: 84;
}
.js .content__title,
.js .content__subtitle,
.js .content__number,
.js .content__text,
.js .content__close {
  opacity: 0;
  color: #ffd600;
  font-family: Poppins;
  pg-id: 85;
}
@media screen and (min-width: 53em) {
  body {
    padding: 0;
    pg-id: 86;
  }
  .frame {
    top: 0;
    display: grid;
    align-items: start;
    justify-items: end;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: '... header';
    pg-id: 87;
  }
  .codrops-header {
    grid-area: header;
    padding: 1rem 0.5rem;
    display: block;
    pg-id: 88;
  }
  .codrops-header__title {
    padding: 0 0.5rem;
    pg-id: 89;
  }
  .codrops-links {
    margin: 0.25rem auto 0 0.25rem;
    pg-id: 90;
  }
  .slideshow {
    height: 110vh;
    grid-template-columns: 27% 27% 27%;
    grid-column-gap: 9.5%;
    pg-id: 91;
  }
  .slide {
    padding: 10vh 0 20vh;
    flex-direction: column;
    justify-content: space-between;
    pg-id: 92;
  }
  .slide__side {
    margin: 0 0 0 -1.85rem;
    pg-id: 93;
  }
  .slide__title-wrap {
    margin: 0 0 0 -2rem;
    pg-id: 94;
  }
  .slide__title,
  .slide__subtitle,
  .slide__side {
    display: block;
    pg-id: 95;
  }
  .slide__title {
    font-size: 3.25rem;
    margin: 0 0 0.25rem;
    text-shadow: 2px 2px 8px, 1px 1px 3px #fff;
    pg-id: 96;
  }
  .slide__subtitle {
    font-weight: normal;
    margin: 0;
    min-height: 50px;
    color: #ffd600;
    pg-id: 97;
  }
  .slide__side {
    color: #ffd600;
    position: relative;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 1000;
    font-family: Poppins;
    pg-id: 98;
  }
  .content {
    top: 0;
    height: 100%;
    position: fixed;
    z-index: 100;
    pg-id: 99;
  }
  .content__item {
    padding: calc(15vh) 0 7vh;
    width: 50.5%;
    right: 7.5%;
    overflow: overlay;
    pg-id: 100;
  }
  .content__item ::-webkit-scrollbar {
    display: none;
    pg-id: 101;
  }
  .content__close {
    left: 42%;
    top: calc(11vh);
    pg-id: 102;
  }
  .content__number {
    position: absolute;
    bottom: 7vh;
    right: 0;
    font-size: 2rem;
    pg-id: 103;
  }
  .content__title {
    font-size: 3vw;
    pg-id: 104;
  }
  .content__subtitle {
    font-size: 1rem;
    margin-bottom: 7.5vh;
    color: #ffd600;
    pg-id: 105;
  }
  .content__text {
    font-size: 0.95rem;
    column-count: 1;
    column-gap: 2rem;
    max-width: none;
    text-align: justify;
    pg-id: 106;
  }
}
.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
  pg-id: 107;
}
.content--canvas {
  z-index: -1;
  pg-id: 108;
}
h4.slide__subtitle p {
  color: #ffd600;
  pg-id: 109;
}
h4.content__subtitle p {
  color: #ba54f5;
  pg-id: 110;
}
.content__item::-webkit-scrollbar {
  pg-id: 111;
}
.content__item--current {
  background: rgba(31, 34, 81, 0.58);
  pg-id: 112;
}